{% extends "base.twig" %}

{% block content %}

	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<h1 class="article-h1">{{post.title}}</h1>

		{% if post.thumbnail.src %}
			<figure><a href="{{post.link}}"><img src="{{post.thumbnail.src}}"></a></figure>
		{% endif %}

		<p class="blog-author">
			<small><span>By</span><a href="{{post.author.path}}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.display_date }}</small>
		</p>

		<div class="article-body">
			{{post.content}}
		</div>
	</article>

	{% if post.prev.status == 'publish' or post.next.status == 'publish' %}
	<nav class="pagination">
	{% if post.prev.status == 'publish' %}
		<a href="{{ post.prev.get_permalink }}" class="prev">&lt;<br><small>{{ post.prev.title }}</small></a>
	{% endif %}
	{% if post.next.status == 'publish' %}
		<a href="{{ post.next.get_permalink }}" class="next">&gt;<br><small>{{ post.next.title }}</small></a>
	{% endif %}
	</nav>
	{% endif %}

{% endblock %}